body {
	margin: 0;
}

.background {
	background-color: black;
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 100;
	min-height: 600px;
}

.menu {
	position: fixed;
	height: 50px;
	width: 100%;
	background: white;
	//opacity: 0.5;
	opacity: 1;
	padding: 10px;
	z-index: 1000;
	box-sizing: border-box;
}

.menu.active {
	height: 100%;
}

.menu .show-menu,
.menu.active .hide-menu {
	display: block;
}

.menu.active .show-menu,
.menu .hide-menu {
	display: none;
}

.menu-item {
	visibility: hidden;
	opacity: 1;
}

.active .menu-item {
	visibility: visible;
}

.map, .figures {
	position: absolute;
}

.map {
	z-index: 100;
}

.figures {
	z-index: 200;
}

.oneCell,
.twoCells,
.threeCells {
	display: none;
}

.showOneCell .oneCell,
.showTwoCells .twoCells,
.showThreeCells .threeCells {
	display: block;
}

.tab-pane {
	padding: 20px;
}

#map {
	padding: 0;
}