body {
	margin: 0;
}

.background {
	background-color: black;
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 100;
	min-height: 600px;
}

body {
	background: white;
	padding: 20px;
}

.menu.active {
	height: 100%;
}

.menu .show-menu,
.menu.active .hide-menu {
	display: block;
}

.menu.active .show-menu,
.menu .hide-menu {
	display: none;
}

.menu-item {
	visibility: hidden;
	opacity: 1;
}

.active .menu-item {
	visibility: visible;
}

.map, .figures {
	position: absolute;
}

.map {
	z-index: 100;
}

.figures {
	z-index: 200;
}

.oneCell,
.twoCells,
.threeCells {
	display: none;
}

.showOneCell .oneCell,
.showTwoCells .twoCells,
.showThreeCells .threeCells {
	display: block;
}

.tab-pane {
	padding: 20px;
}

#map {
	padding: 0;
}

.select-row {
	margin-bottom: 10px;
}

.select-row > input[type="text"] {
	display: inline-block;
	width: 104px;
	position: relative;
	top: 1px;
}

.select-row > .btn-group,
.select-row > input[type="text"],
.select-row > button {
	margin-right: 15px;
}

.select-monster button {
	min-width: 140px;
}

.select-x > button, .select-y > button {
	min-width: 161px;
}

#monsters .radio label {
	display: block;
}

.select-row img {
	margin: 20px;
}